$blue : #92B4EC;
$white : #FFFFFF;
$lite : #FAF0D7;
$navy : #8CC0DE;
$dark : #15133C;
$dark-navy : #2F8F9D;

$yellow: #FFE69A;
$green : #00FFAB;
$dark-green: #14C38E;
$light-gray: #F5F5F5;
$blue: #2a5f8d;
$white: #FFF;
$mid-gray: #D8D8D8;