<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/styl.css">
    <!-- boostrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- boostrap end -->
    <!-- font-google -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa&family=Concert+One&family=La+Belle+Aurore&family=Pacifico&family=Press+Start+2P&family=Righteous&display=swap"
        rel="stylesheet">

    <!-- google end -->
    <title>INSTRUCTIONS</title>
</head>

<body>
    <nav class="navbar navbar-1 navbar-expand-lg navbar-light ">
        <div class="container-fluid    ">
            <a class="navbar-brand" href="#">sum_Up</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="http://test-summ.herokuapp.com/info">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="hero pt-4">
        <div style="    font-family: 'Concert One';" class="instruction  ">
            <h1>INSTRUCTIONS</h1>
        </div>

        <div class="points">
            <div class="points__num">
                <h1>1</h1>
            </div>
            <div class="points__txt">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, at!\</h3>
            </div>
            <div class="points__num">
                <h1>2</h1>
            </div>
            <div class="points__txt">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, at!\</h3>
            </div>
            <div class="points__num">
                <h1>3</h1>
            </div>
            <div class="points__txt">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, at!\</h3>
            </div>


        </div>




    </div>
    <div class="features">
        <div class="feature">
            <h2>🚀</h2>
            <h3 clas>FAST workTime</h3>
        </div>
        <div class="feature">
            <h2>🎯</h2>
            <h3 clas>ACCURACY</h3>
        </div>
        <div class=" feature">
            <h2>💯</h2>
            <h3 clas>Make your time WORTH</h3>
        </div>
    </div>
    <!-- <div class="container-grid">

    <div class="feature">
        <h2>🚀</h2>
        <h3 class="mx-">FAST workTime</h3>
    </div>
    <div class="feature">
        <h2>🎯</h2>
        <h3 class="mx-">ACCURACY</h3>
    </div>
    <div class=" feature">
        <h2>💯</h2>
        <h3 class="mx-">Make your time WORTH</h3>
    </div>
    </div> -->


    <div class="copy">
        <h3> © khatamionik 2022</h3>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>